/*--- Table ---*/
.table-combobox-dropdown:hover .table-combobox-dropdown-option {
  display: block;
  animation: fadein ease-in 0.1s;
}

.table-combobox-dropdown-option {
  display: none;
  position: absolute;
  top: 20px;
  right: 10px;
  border: 1px solid;
  min-width: 140px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
}

.table-combobox-dropdown-option::before {
  content: "";
  display: block;
  position: absolute;
  top: -19px;
  width: 100%;
  height: 20px;
  /* background-color: red; */
}
.table-option-list {
  text-align: left;
  display: flex;
  flex-direction: column;
  /* height: 100%; */
}
.table-option-list:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.table-option-list:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.table-option-list button {
  height: 36px;
  padding-left: 8px;
  line-height: 36px;
  background-color: #fff;
  border: none;
  color: #000;
  text-align: left;
  font-weight: 300;
  border-radius: 0;
}

.combobox li:hover {
  background-color: #e5e8ec;
  color: #96d58a;
}

/*--- Footer ---*/
.footer-combobox-dropdown:hover .footer-combobox-dropdown-option {
  display: block;
  animation: fadein ease-in 0.1s;
}
.footer-combobox-dropdown-option {
  display: none;
  position: absolute;
  bottom: 47px;
  right: 22px;
  border: 1px solid;
  width: 33%;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  z-index: 10;
}

.footer-option-list li {
  /* height: 36px; */
  padding-left: 8px;
  line-height: 32px;
  /* margin: 8px 0; */
}

.footer-combobox-dropdown-option::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -20px;
  width: 100%;
  height: 24px;
  /* background-color: red; */
}

.paging-combobox-title {
  padding-right: 12px;
}

/* .combobox-list li:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.combobox-list li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
} */
