.input {
	/* min-width: 250px; */
	height: 36px;
	padding: 0px 38px 0 12px;
	border-radius: 4px;
	border: 1px solid #CEEAD9;
}

.input::placeholder {
	color: #999999;
	font-size: 13px;
	font-style: italic;
}

.input:focus-visible {
	outline: none;
	border: 1px solid #089740;
	cursor: text;
	border-radius: 4px;
}




/*--- customer or supplier ---*/
input[type='checkbox'] {
	-webkit-appearance: none;
	width: 24px;
	height: 24px;
	background: white;
	border-radius: 4px;
	border: 1px solid #CEEAD9;
	cursor: pointer;
}

input[type='checkbox']:checked {
	border: 1px solid #089740;
	background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -1221px -357px;
	transition: all .1s ease;
}

input[type='checkbox']:not(:checked) {
	transition: all 0.2s ease;
	transform: rotate(-90deg);
}




/*---employee-form-gender-selection   */
ul li {
	list-style-type: none;
	flex-direction: column;
}

ul li input[type=radio] {
	position: relative;
	-webkit-appearance: none;
	z-index: 10;
	width: 15px;
	height: 15px;
	background: transparent;
	border-radius: 50%;
	padding: 3px;
	cursor: pointer;
	top: 0px;
	right: -17px;
	/* border: 1px solid red; */
}

ul li .check {
	/* display: block; */
	position: relative;
	border: 1px solid;
	border-radius: 50%;
	height: 19px;
	width: 19px;
	/* top: 0px; */
}

ul li label {
	color: #000;
	display: block;
	cursor: pointer;
}

ul li:hover {
	cursor: pointer;
}

ul li .check::before {
	display: block;
	position: relative;
	content: '';
	border-radius: 50%;
	height: 13px;
	width: 13px;
	right: -2px;
	top: 2px;
}

ul li .check::after {
	display: block;
	position: relative;
	content: '';
	border-radius: 50%;
	height: 23px;
	width: 23px;
	right: 4px;
	top: -17px;
}

input[type=radio]:checked~.check {
	border: 1px solid #089740;
}

input[type=radio]:checked~.check::before {
	background: #0DFF92;
}

input[type=radio]:checked~.check::after {
	border: 1px solid #089740;
}



/*--- date picker ---*/
input[type="date"] {
    align-items: center;
    display: inline-flex;
    font-family: notosans;
    padding-inline-start: 1px;
    cursor: default;
    overflow: hidden;
    padding: 0px;
}


::-webkit-datetime-edit { 
    width: 100%;
}
::-webkit-datetime-edit-fields-wrapper {
     background: #fff; 
	 -webkit-user-modify: read-write !important;
}
::-webkit-datetime-edit-text { 
    color: #000; 
    padding: 0 6px; 
}
::-webkit-datetime-edit-month-field { 
    color: #000; 
	-webkit-user-modify: read-write !important;
}
::-webkit-datetime-edit-day-field { 
    color: #000;
	-webkit-user-modify: read-write !important;
}
input::-webkit-datetime-edit-year-field { 
    color: #000; 
	-webkit-user-modify: read-write !important;
}
::-webkit-calendar-picker-indicator {
	background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -126px -310px;
    position: absolute;
    top: 35px;
    right: 7px;
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    padding: 2px;
    /* background-color: cyan; */
    cursor: pointer;
    z-index: 1;
}

::-webkit-datetime-edit-year-field:focus,
::-webkit-datetime-edit-month-field:focus,
::-webkit-datetime-edit-day-field:focus {
	background-color: #ccc;
    outline: none;
}