.main-page-container {
    background-color: #eceef1;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    padding: 24px 16px 0 24px;
}


/*----- main-page-header -----*/
.main-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 16px;
}

.main-page-header-title {
    font-size: 24px;
    font-weight: 700;
}

/*----- main-page-content -----*/
.main-page-content {
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* main-page-content-toolbar */
.content-toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px;
}

.content-toolbar .toolbar-input {
    width: 25%;

}

.content-toolbar-search:hover {
    outline: none;
    border: 1px solid #39AC66;
    cursor: pointer;
    border-radius: 4px;
}

/*----- main-pag-footer -----*/
.main-page-footer {
    position: relative;
    width: 100% - 0px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0 16px 16px;
    background-color: #fff;

    /* display: none; */
}

/*--- footer-left ---*/


/*--- footer-right ---*/

.main-page-footer .footer-right {
    display: flex;
    align-items: center;
}

/* footer-combobox */
.paging-combobox {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 16px;
}

.paging-combobox-title {
    font-size: 14px;
    color: #6d6d6d;
}

.combobox .paging-combobox-input {
    width: 76px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #CEEAD9;
    margin: 0 6px;
    padding: 8px 24px 8px 12px; 
}

.paging-combobox-input:focus-visible {
    outline: none;
	border: 1px solid #089740;
	cursor: text;
	border-radius: 4px;
}




/* paging-navigation */
.footer-right .paging-navigation {
    display: flex;
    height: 60px;
    align-items: center;
    padding: 12px 16px;
}

.paging-navigation .paging-navigation-main {
    display: flex;
}

.paging-navigation .paging-navigation-button {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: unset;
}

.paging-navigation button[disabled] {
    cursor: default;
}

.paging-navigation-title {
    font-size: 14px;
    color: #6d6d6d;
    margin-right: 16px;
}

.paging-navigation {
    display: flex;
}

.paging-navigation-button.pre-page {
    margin-right: 12px;
}

.paging-navigation-button.next-page {
    margin-right: 0;
}



